<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.quiteoldrange.i3textutils.DataProcessingHandler"
            id="org.quiteoldrange.i3textutils.DataProcessingHandler"
            name="%command.name">
      </command>
      <command
            defaultHandler="org.quiteoldrange.i3textutils.ModuleStructureFiller"
            id="org.quiteoldorange.i3textutils.fillModuleStructure"
            name="%fillModuleStructure.name">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
    <menuContribution
        locationURI="popup:#BslEditorContext?endof=group.open">
        <command commandId="org.quiteoldrange.i3textutils.DataProcessingHandler"
            style="push"
            tooltip="%command.tooltip">
            <visibleWhen checkEnabled="true">
                <reference definitionId="com._1c.g5.v8.dt.bsl.Bsl.Editor.opened"/>
            </visibleWhen>
        </command>
        
        <command commandId="org.quiteoldorange.i3textutils.fillModuleStructure"
            style="push"
            tooltip="%fillModuleStruture.tooltip">
            <visibleWhen checkEnabled="true">
                <reference definitionId="com._1c.g5.v8.dt.bsl.Bsl.Editor.opened"/>
            </visibleWhen>
        </command>
        
    </menuContribution>
</extension>
</plugin>
